
body{
    background-color: black;  
}
h1{
    font-size: 70px;
   color:#fffbfb ;
   font-family: 'Inter', sans-serif;
   font-family: 'M PLUS 1 Code', sans-serif;
   font-family: 'Monoton', cursive;
   font-family: 'Press Start 2P', cursive;
   font-family: 'Righteous', cursive;
   font-family: 'Staatliches', cursive;
   display: flex;
   justify-content: center;
   margin: 0;
}
summary{
    font-size: 35px;
    color:#fffbfb ;
    font-family: 'Inter', sans-serif;
    margin-top: 50px;
   text-align: center;
}
#regras{
    margin-top: 35px;
    width: 1500px;
    color:#fffbfb ;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
    font-family: 'Inter', sans-serif;
   
}
#comojogar{
    margin: 0;
}
section{
    display: flex;
 justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}




#meio{
    background-color: #7EFED3;
    border-radius:100% ; 
    width: 365px;
    height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    flex-flow: column;
    font-weight: 600;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size:25px;
    z-index: 1;
  
}
.frasemeio{
    margin: 0;
}
.textodomeio{
    margin-bottom: 10px;
}
.textoDoFinal{
    font-size: 15px;
    margin-right: 120px;
    
}
#sequenciaErrada{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}
.classeBotao{
    background-color:rgb(143, 140, 3) ;
    border: none;
    width: 130px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
   
}
#botaoRecomeçar{
    margin-bottom: 60px;
}
.classeBotao:hover{
    background-color:#02C901;
    cursor: pointer; 
}


#greenButtonSelect{
    transform: scale(1.1);
    transition: 0.1s;
    filter: blur(1px);
    background-color:#02DA01 ;
    border-top-left-radius: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    font-size: 22px;
    height: 285px;
    width: 335px;
    border: none;
    margin-left: 8px;
}
#redButtonSelect{
    transform: scale(1.1);
    transition: 0.1s;
    filter: blur(1px);
    background-color:#FA0000;
    border-top-right-radius: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    font-size: 22px;
    height: 285px;
    width: 335px;
    border: none;
    margin-left: 8px;
}

#yellowButtonSelect{
    transform: scale(1.1);
    transition: 0.1s;
    filter: blur(1px);
    background-color:#F8F400 ;
    border-bottom-left-radius: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    font-size: 22px;
    height: 285px;
    width: 335px;
    border: none;
    margin-left: 8px;
    margin-top:8px;
    
}
#blueButtonSelect{
    transform: scale(1.1);
    transition: 0.1s;
    filter: blur(1px);
    background-color:#0303f3;
    border-bottom-right-radius: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 22px;  
    font-size: 22px;
    height: 285px;
    width: 335px;
    border: none;
    margin-left: 8px;
    margin-top:8px;
    
}
#greenButton{
    background-color: #00B200;
    transition: 0.2s;
    border-top-left-radius: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    height: 285px;
    width: 335px;
    border: none;
    margin-left: 8px;
    
    
}
#redButton{
    background-color: #B20000;
    border-top-right-radius: 100%;
    transition: 0.2s;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    height: 285px;
    width: 335px;
    border: none;
    margin-left: 8px;
}

#yellowButton{
    background-color: #B2B000;
    border-bottom-left-radius: 100%;
    transition: 0.2s;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    height: 285px;
    width: 335px;
    border: none;
    margin-left: 8px;
    margin-top:8px;
    
}

#blueButton{
    background-color: #0000B1;
    border-bottom-right-radius: 100%;
    transition: 0.2s;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Righteous', cursive;
    font-family: 'Staatliches', cursive;
      font-size: 22px;
      height: 285px;
      width: 335px;
      border: none;
      margin-left: 8px;
      margin-top:8px;
      
}