h1{
   color:#423D39 ;
   font-family: 'M PLUS 1 Code', sans-serif;
   display: flex;
   justify-content: center;
}
section{
    display: flex;
 justify-content: center;
    margin-top: 250px;
    flex-direction: column;
    align-items: center;
}

.topButtons{
    height: 250px;
    width: 350px;
    border: none;
    margin-left: 8px;
    
}
 
#meio{
    background-color: #7EFED3;
    border-radius:100% ; 
    width: 360px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}
.botonButtons{
    height: 250px;
    width: 350px;
    border: none;
    margin-left: 8px;
    margin-top:8px;
    
    
}

#greenButton{
    background-color: #00B200;
    border-top-left-radius: 100%;
    
}

#greenButtonSelect{
    transform: scale(1.1);
    transition: 0.2s;
    filter: blur(4px);
    background-color:#02DA01 ;
}
#redButtonSelect{
    transform: scale(1.1);
    transition: 0.2s;
    filter: blur(4px);
    background-color:#FA0000;
}

#yellowButtonSelect{
    transform: scale(1.1);
    transition: 0.2s;
    filter: blur(4px);
    background-color:#F8F400 ;
    ;
}
#blueButtonSelect{
    transform: scale(1.1);
    transition: 0.2s;
    filter: blur(4px);
    background-color:#0303f3;
}
#redButton{
    background-color: #B20000;
    border-top-right-radius: 100%;
}

#yellowButton{
    background-color: #B2B000;
    border-bottom-left-radius: 100%;
   
}

#blueButton{
    background-color: #0000B1;
    border-bottom-right-radius: 100%;

}